.container1 {
    position: relative;
    text-align: center;
    color: white;
    padding:0 0 5% 0;
    margin: 0 0 0 0;
  }
  
  .bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
  }
  
  .top-left {
    position: absolute;
    top: 8px;
    left: 16px;
  }
  
  .top-right {
    position: absolute;
    top: 8px;
    right: 16px;
  }
  
  .bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
  }
  
  .centered {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .image1{
    border-radius: 50%;
    width: 20rem;
    height: 20rem;
    margin-bottom: 2rem;
  }